<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>

    <title>Add Book</title>
</head>
<body>
<form th:action="@{/books/add}" th:object="${book}" method="post">
    Name: <input type="text" th:field="*{name}"/>
    <br>
    Describe: <input type="text" th:field="*{describe}"/>
    <br>
    Year: <input type="text" th:field="*{year}"/>
    <br>
    <div class="submit">
        <button name="addStudent" type="submit">Add book</button>
    </div>
</form>
</body>
</html>