<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Books list</title>

    <script type="text/javascript" th:src="@{/webjars/jquery/3.3.1/dist/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/resources/js/main.js}"></script>
    <link type="text/css" rel="stylesheet" th:href="@{/webjars/bootstrap/4.1.3/css/bootstrap.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/resources/css/main.css}"/>
</head>
<body>
<div class="fluid-container">
    <nav>
        <div th:replace="~{my-menu :: mymenu(StudentsList)}">
        </div>
    </nav>
</div>
<div class="container">
    <h1>Students List</h1>
    <table class="table">
        <thead>
        <tr class="thead-dark">
            <td>Id</td>
            <td>Name</td>
            <td>Describe</td>
            <td>year</td>
        </tr>
        </thead>

        <tr th:each="book : ${booksList}">
            <td th:text="${book.id}"/>
            <td th:text="${book.name}"/>
            <td th:text="${book.describe}"/>
            <td th:text="${book.year}"/>

<!--            <td>-->
<!--                <button class="btn btn-primary infoBtn" th:attr="entryIndex=${student.id}">Info</button>-->
<!--                &lt;!&ndash;<button class="btn btn-primary removeBtn" th:attr="entryIndex=${student.id}">Remove</button>&ndash;&gt;-->
<!--                <a class="btn btn-danger" th:href="@{'/students/remove/' + ${student.id}}" role="button">Remove</a>-->
<!--            </td>-->
<!--            <td>-->
<!--                <p th:if="${student.name.length()} &gt; 3">-->
<!--                    Normal-->
<!--                </p>-->
<!--                <p class="p-3 mb-2 bg-danger text-white" th:unless="${student.name.length()} &gt; 3">-->
<!--                    To short-->
<!--                </p>-->
<!--            </td>-->
        </tr>
    </table>
    <!--<br>-->
    <!--<a href="/">Back To Main Page</a>-->
    <!--<br>-->
<!--    <button id="consoleTestBtn">Console</button>-->
    <!--    <input id="myInput"/>-->
</div>
</body>
</html>